.modal-dialog {
    max-width: none;
    height: 1% !important;
}

.modal-content {
    min-height: 100% !important;
}

.carousel-item {
    text-align: center;
}

.modal-header h1{
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

.modal-header img {
    padding-bottom: 2%;
}

::-webkit-scrollbar {
    display: none;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .modal-90w {
        padding-top: 2%;
        font-family: 'Abel', sans-serif;
        max-width: 90% !important;
        min-height: 75% !important;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .modal-90w {
        font-family: 'Abel', sans-serif;
        max-width: 100% !important;
        max-height: 80% !important;
    }
 }
